00_reference/
01_FASTQ/
02_MOSFQ/
03_MOSFA/
04_CLEANFISH/
05_CLEANADAPT/
06_LONGLENGTH/
07_SELFBLAST/
08.01_ONEHIT/
08.02_MULTIHIT/
09_FILTHIT/
10_SCOV/
11_QSCOV70/
12_IDSEQ/
13_FILTREDUNDANCE/
14_SAMPLEBLAST/
.tmp-ids
15.1_CACT/
15.2_SEMCACT/
16_RBHBLAST/
figura2_500-dpi.png
