01_FASTQ/*trimmed.fq
01_FASTQ/*.fa
02_MOSFQ/
02_MOSFA/
03_LONGLENGTH
03_MOSFA/
04_CLEANFISH/
04_SELFBLAST/
05.01_ONEHIT/
05.02_MULTIHIT/
05_CLEANADAPT/
06_FILTHIT/
06_LONGLENGTH/
07_SCOV/
07_SELFBLAST/
08.01_ONEHIT/
08.02_MULTIHIT/
08_QSCOV70/
09_FILTHIT/
09_IDSEQ/
10_FILTREDUNDANCE/
10_SCOV/
11_QSCOV70/
11_SAMPLEBLAST/
12_IDSEQ/
12_RBHBLAST/
13_FILTREDUNDANCE/
14_SAMPLEBLAST/
15.1_CACT/
15.2_SEMCACT/
16_RBHBLAST/
.tmp-ids
figura2_500-dpi.png
scripts/*.swp
*.swp
zetc/
zetc/*
